.headroom {
  @apply text-gray-900 bg-white border-b border-gray-200 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-100 bg-opacity-90 dark:bg-opacity-90;
  backdrop-filter: blur(5px);
}

.headroom-wrapper {
  position: absolute;
}
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed !important;
  transition: all 800ms ease-in-out;
}

.headroom--scrolled {
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(0);
}

@screen md {
  .headroom--unpinned {
    transform: translateY(-100%);
    background: transparent !important;
  }
}
.headroom--pinned {
  position: fixed;
  @apply bg-opacity-90;
  transform: translateY(0%);
}

.headroom a {
  @apply font-sans font-bold text-gray-800 duration-300 hover:text-primary;
}

.headroom a.logo {
  @apply left-0 block ml-0 py-2 font-mono text-3xl font-bold md:top-3 lg:absolute hover:opacity-80;
}

.headroom a.active {
  @apply text-primary;
}

.pageNav {
  @apply justify-center hidden w-full space-x-6 uppercase lg:flex;
}

.pageNav div {
  @apply justify-center hidden w-full space-x-6 uppercase lg:flex;
}

body.home .pageNavHome {
  @apply flex;
}

body.inside .pageNavHome {
  @apply hidden;
}

body.home .pageNavInside {
  @apply hidden;
}

body.inside .pageNavInside {
  @apply flex;
}
